<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.springbootdemo.dao.OrderDetailMapper">
    <insert id="addOrderDetail">
        insert into orderdetail(goodsId, count, orderNum) values (#{goodsId}, #{count}, #{orderNum})
    </insert>

</mapper>